<h1><%= @user.username %></h1>



<dl>

  <dt>Private</dt>
  <dd><%= @user.private %>
  </dd>

  <dt>Followers</dt>
  <dd><%= @user.followers.count %>
  </dd>

    <dt>Following</dt>
  <dd><%= @user.following.count %>
  </dd>

  <dt>Edit user</dt>
  <dd>
    <form action="/modify_user" method="post">
      <label for="browser_username">Username</label>
      <input id="browser_username" type="text" name="input_username" placeholder="Enter a username..." value="<%= @user.username %>">

      <label for="browser_private">Private?</label>
      <input id="browser_private" type="checkbox" name="query_private" >

      <button>Update user</button>
    </form>
  </dd>
</dl>

<% accepted = Array.new %>

<% @user.sent_follow_requests.each do |sent_request| %>

<% if sent_request.status == "accepted" %>

<% accepted.push(User.where({:id => sent_request.recipient_id}).first.username) %>
<% end %>
<% end %>
<%= accepted %>

<nav>
  <ul>
    <li>
      <a href="/users/<%=@user.username%>">Profile</a>
    </li>
    <li>
      <a href="/users/<%=@user.username%>/liked_photos">Liked photos</a>
    </li>
    <li>
      <a href="/users/<%=@user.username%>/feed">Feed</a>
    </li>
    <li>
      <a href="/users/<%=@user.username%>/discover">Discover</a>
    </li>
  </ul>
</nav>

<h2>Feed (<%= @user.feed.count %>)</h2>

<table border="1">
  <tr>
    <th>
      Image
    </th>

    <th>
      Owner
    </th>

    <th>
      Caption
    </th>

    <th>
      Posted
    </th>

    <th></th>
  </tr>

  <% @user.feed.each do |photo| %>

  <% if accepted.include? photo.owner.username %>
  <tr>
    <td>
      <img src="<%= photo.image %>">
    </td>

    <td>
      <%= photo.owner.username %>
    </td>

    <td>
      <%= photo.caption %>
    </td>

    <td>
      <%= photo.created_at %>
    </td>
    
    <td>
      <a href="/photos/<%= photo.id %>">
        Show details
      </a>
    </td>
  </tr>
<% end %>
<% end %>

</table>
